body{
     background-color: rgb(241, 232, 220);
    }
    #cidade {
        width: 612px;
        height: 599px;
        padding-left: 500px;
        padding-right: 500px;
     }
     header{
    background-color: #9D7E6A;
    width: 1550px;
    height: 238px;
    padding-left:1px;
    padding-right:1px;
    font-size: 80px;
    text-align:center;
}